.wrapper{
    height: 100vh;
background-color:#E4E4E4;
width: 100%;
.header{
    margin: 5px 0;
h2{
    font-family: 'Bauziet';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 23px;
text-align: center;
font-feature-settings: 'liga' off, 'calt' off, 'kern' off;
color: #000000;
flex: none;
order: 0;
flex-grow: 0;
}
p{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
text-align: center;
font-feature-settings: 'liga' off, 'calt' off, 'kern' off;
color: #747474;
flex: none;
order: 1;
flex-grow: 0;
}
}
 form{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 15px;
    @media screen and (max-width: 560px) {
        width: 60% 
    }
  
    .input{
        outline: none;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid gray;
        width: 100%;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.06);
        border-radius: 10px;
       display: flex;
       align-items: center;
       justify-content: space-around;
       input{
        outline: none;
        width: 100%;
        border: 0px;
        &::placeholder{
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            font-feature-settings: 'liga' off, 'calt' off, 'kern' off;
            color: rgba(76, 78, 100, 0.38);
            flex: none;
            order: 0;
            flex-grow: 1;
        }
    }
    }
 }
button{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
height: 51px;
background: #000000;
box-shadow: 0px 4px 8px -4px rgba(76, 78, 100, 0.42);
border-radius: 8px;
flex: none;
order: 1;
flex-grow: 0;
color: white;
border: 0px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 26px;
letter-spacing: 0.46px;
text-transform: uppercase;

}
.others{
    margin-top: 10px;
    a{
        text-decoration: none;
        color: #B91C1C;
    }
}

}